@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.8rem 0 0.8rem 0;
  font-family: "Shrikhand", cursive;
}

.fa-arrow-left {
  position: absolute;
  left: 2rem;
  height: 2rem;
  top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  font-size: 1.1rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  font-family: "Roboto", sans-serif;
}

html {
  padding: 0.5rem 0 0 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ebeaea;
  -webkit-box-shadow: inset 0px 5px 11px -4px rgba(184, 183, 183, 0.8);
          box-shadow: inset 0px 5px 11px -4px rgba(184, 183, 183, 0.8);
  font-weight: 500;
  padding: 0.4rem;
}

.localisation .fa-map-marker-alt {
  margin-right: 1rem;
}

.localisation .local_text {
  margin-top: 0.8rem;
}

.exploreur {
  background-color: #F5F5F5;
  text-align: center;
  padding: 2.3rem;
}

.exploreur .title_exploreur {
  margin: 0;
  font-size: 23.5px;
}

.exploreur .text_explored {
  margin: 0.7rem 1.3rem 2.3rem 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 300;
}

.bouton_explore {
  margin-bottom: 2rem;
}

.bouton_explore .btn_exploreur {
  border: 0;
  border-radius: 70px;
  color: white;
  font-weight: 500;
  font-size: 15px;
  background-image: linear-gradient(2deg, #9a5fe4, #f782d6);
  -webkit-box-shadow: 0 0 4px #777375;
          box-shadow: 0 0 4px #777375;
  padding: 0.85rem 1.4rem;
  cursor: pointer;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.bouton_explore .btn_exploreur:hover {
  background-color: #9356dc;
  opacity: 0.9;
  -webkit-box-shadow: 0 0 10px #777375;
          box-shadow: 0 0 10px #777375;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.fonction {
  display: -ms-grid;
  display: grid;
}

.title_fonction {
  grid-column: 1/-1;
  padding-left: 1rem;
  margin-top: 2.5rem;
}

.fonction_resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 1rem 1rem 1rem;
  background: #F5F5F5;
  -webkit-box-shadow: 5px 4px 8px rgba(195, 194, 197, 0.6);
          box-shadow: 5px 4px 8px rgba(195, 194, 197, 0.6);
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.fonction_resto span {
  background: #9356dc;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: absolute;
  left: -0.60rem;
}

.fonction_resto .title_restos {
  font-weight: 500;
}

.item_menu {
  background: #F5F5F5;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}

.item_menu:hover {
  background-color: #f1e0ff;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.fa-mobile-alt, .fa-list-ul, .fa-store {
  margin: 0 1.1rem 0 1.4rem;
}

.fa-mobile-alt, .fa-list-ul {
  color: #a19d9f;
}

.fa-store {
  color: #9356dc;
}

.title_resto {
  font-weight: 300;
}

.restaurants {
  background-color: #F5F5F5;
  margin-top: 3rem;
  padding: 2.5rem 1.5rem 5rem 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.resto_title {
  font-size: 22px;
  margin: 0;
  grid-column: 1/-1;
}

.cards .restos {
  height: 17rem;
  background-color: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 8px 4px 8px rgba(195, 194, 197, 0.6);
          box-shadow: 8px 4px 8px rgba(195, 194, 197, 0.6);
  position: relative;
  text-decoration: none;
  color: black;
  display: block;
}

.cards img {
  height: 12.5rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.new {
  background-color: #9de7d5;
  color: #1b6653;
  padding: 0.5rem;
  border-radius: 1px;
  position: absolute;
  top: 0.6rem;
  right: 0.7rem;
}

.items_cards {
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text_card {
  margin: -0.5rem 0 3rem 0.8rem;
}

.title_card {
  margin: 0;
  padding: 1rem 0 0 0;
  font-size: 17px;
}

.name_card {
  margin-top: 0.3rem;
}

.heart {
  background-clip: border-box;
  border: 1px solid transparent;
  position: relative;
  bottom: 2.3rem;
  right: 1.4rem;
  font-size: x-large;
}

.heart::before {
  content: "";
  opacity: 1;
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
}

.heart:hover::before {
  color: #a16edf;
  opacity: 0.9;
  -webkit-transform: scale(1);
          transform: scale(1);
  font-weight: bold;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  font-family: "Roboto", sans-serif;
}

html {
  padding: 0.5rem 0 0 0.5rem;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.background {
  background: #F5F5F5;
  position: relative;
  border-radius: 2rem 2rem 0 0;
  margin-top: -4rem;
  z-index: 1;
}

.pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  max-height: 34rem;
  width: 100%;
}

.title_resto {
  padding: 1rem 1rem 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.name_resto {
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
}

.coeurs {
  position: relative;
  bottom: 0;
  right: 1.4rem;
}

.coeurs .coeur {
  border: 1px solid transparent;
  font-size: x-large;
}

.coeur::before {
  content: "";
  opacity: 1;
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
}

.coeur:hover::before {
  color: #a16edf;
  opacity: 0.9;
  -webkit-transform: scale(1);
          transform: scale(1);
  font-weight: bold;
  cursor: pointer;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn .btn_command {
  color: white;
  border: 0;
  border-radius: 70px;
  padding: 0.8rem 2.7rem;
  margin: 2rem 0 5rem 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#6e37b1), to(#f55cca));
  background-image: linear-gradient(0deg, #6e37b1, #f55cca);
  -webkit-box-shadow: 0 0 4px #777375;
          box-shadow: 0 0 4px #777375;
  cursor: pointer;
  font-weight: 500;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.btn_command:hover {
  background-color: #f55cca;
  -webkit-box-shadow: 0 0 8px #777375;
          box-shadow: 0 0 8px #777375;
  opacity: 0.9;
  -webkit-transform: scale(1);
          transform: scale(1);
}

footer {
  background: #363435;
}

footer .container_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

footer .title_footer {
  margin: 0 0 1rem 1rem;
  color: white;
  font-family: "Shrikhand", cursive;
  font-weight: lighter;
}

.liste {
  margin: 0 0 1rem 1rem;
  padding: 0;
  line-height: 1.4rem;
}

.liste li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.liste .fa-utensils, .liste .fa-hands-helping {
  color: white;
  margin-right: 0.4rem;
}

.liste a {
  text-decoration: none;
  color: white;
}

.liste .propose_footer {
  margin-left: 0.4rem;
}
/*# sourceMappingURL=main.css.map */