*{
    box-sizing: border-box;
}

.container{
max-width: 1440px;
padding: 0.5rem 0.5rem 0 0.5rem;
margin: 0 auto;

}
body{
    margin:0;
    padding:0;
    font-family: $font-text;
}

img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.background{
    background: $color-background;
    position: relative;
    border-radius: 2rem 2rem 0 0;
    margin-top: -4rem;
    z-index: 1;
}
.pictures{
    display: flex;
    justify-content: center;
    max-width: 100%;
    max-height: 34rem;
    width: 100%;
}
.title_resto{
    padding: 1rem 1rem 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.name_resto{
    font-family: $font-title;
    font-weight: lighter;
}
.coeurs{
    position: relative;
    bottom: 0;
    right: 1.4rem;

.coeur {
    font-size: x-large;
    } 
}
.coeur::before {
    content: "";
    opacity: 1;
    transition: color 0.5s ease-out;
}
.coeur:hover::before{
    @include heart-cover;
}
.container_menu{
    display: grid;
}

.menus{
    
    padding: 0 1rem;
    background: $color-background;
    max-width: 100%;
    overflow: hidden;
    transition: color 0.4s ease;

}
    .menus:hover{
        background: $color-background-survol;
        transform: scale(1);
    }
    
.title_menu{
    font-size: 15px;
    font-weight: 500;
    margin: 2rem 0 0 0;
    padding-bottom: 0.3rem;
    border: 3px $color-tertiary;
    border-bottom-style: solid;
    width: 37px;
    position: relative;
    left: 1rem;
  }

.repas{
    display: flex;
    background: white;
    border-radius: 15px;
    padding: 0.8rem;
    margin: 1.4rem;
    box-shadow: 5px 4px 8px $color-shadow;
    animation: repas_apparition 1.5s;
    animation-timing-function: cubic-bezier(0.29,0.91,1,1);
    animation-fill-mode: both;
    overflow: hidden;
    max-width: 100%;
    cursor: pointer;
}

//***delay one by one***//

.delay0{
    animation-delay: 0s;
}
.delay1{
    animation-delay: 0.2s;
}
.delay2{
    animation-delay: 0.4s;
}
.delay3{
    animation-delay: 0.6s;
}
.delay4{
    animation-delay: 0.8s;
}
.delay5{
    animation-delay: 1s;
}
.delay6{
    animation-delay: 1.2s;
}
.delay7{
    animation-delay: 1.4s;
}
.delay8{
    animation-delay: 1.6s;
}
.delay9{
    animation-delay: 1.8s;
}

.text_repas{
    @include text-overflow;
    flex: 1; 
        
.title_repas{
    margin: 0;
    padding-bottom: 0.3rem;
    @include text-overflow;   
  } 
.name_repas{
    margin: 0;
    @include text-overflow;
  }
}
.prix{
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
}
.repas .confirmation{    
    background-color: $color-tertiary;
    padding: 1rem;   
    margin: -1rem -5rem -1.3rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.6s;      
}
 .repas:hover .confirmation {
    margin-right: -1rem;
  }

.repas  .icon{
    height: 1.7rem;
    width: 1.7rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 70px;
    transform: rotate(45deg);
    transition-duration: 0.5s;
}  
.repas:hover .icon {
    transform: rotate(1turn);  
}
  .fa-check{ 
    color: $color-tertiary; 
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .btn_command{
        color: white;
        border: 0;
        border-radius: 70px;
        padding: 0.8rem 2.7rem;
        margin: 2rem 0 5rem 0;
        background-image: linear-gradient(0deg
        ,rgba(110, 55, 177, 1),rgba(245, 92, 202, 1));
        box-shadow: 0 0 4px $color-shadow-btn;
        cursor: pointer;
        font-weight: 500;
        transition: color 0.4s ease;
    }
}

.btn_command:hover{
    background-color: rgb(245, 92, 202);
    box-shadow: 0 0 8px $color-shadow-btn;
    opacity: 0.9;
    transform: scale(1);
}

@media all and (min-width: 1024px){
    .container_menu{
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
    }
    .menus{
        padding: 0;
    }
    .btn{
        margin-top: 2rem;
    } 
}
@media all and (min-width: 780px) and (max-width: 1022px){
    
    .title_resto {
        padding: 0.5rem 5rem 0 5rem;
    }

    .title_menu{
        margin: 0;
    }
    .container_menu{
        padding: 0.2rem 4rem 0 4rem;
    }
    
    .btn{
        margin-top: 3rem;
    } 
}