@mixin grid_restoscards {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
}

@mixin text-overflow {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@mixin heart-cover {
    color: rgb(161, 110, 223);
    opacity: 0.9;
    transform: scale(1);
    font-weight: bold;
    cursor: pointer;
}
@mixin form {
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #ebeaea;
    box-shadow: inset 0px 5px 11px -4px rgba(184, 183, 183, 0.8);
    padding: 0.5rem;
}