$color-primary: #9356dc;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: #F5F5F5;
$color-background-survol: #f1e0ff;
$color-shadow: rgba(195, 194, 197, 0.6);
$color-shadow-btn: #777375;
$color-footing: white;

$font-text: 'Roboto', sans-serif;
$font-title: 'Shrikhand', cursive;
$font-heart-size: x-large;